In [1]:
import pandas as pd
import tensorflow as tf
import keras

Using TensorFlow backend.

In [2]:
matches_df = pd.read_csv('../data/picks_disney_major.csv', index_col=0)

matches_df.head()

,start_time,first_pick,0,1,2,3,4,5,6,7,...,12,13,14,15,16,17,18,19,20,21
4582890604,1553767233,1,15,53,88,65,11,120,111,52,...,95,78,3,107,28,55,47,94,25,49
4582900498,1553767222,1,120,33,78,70,88,54,20,111,...,69,109,27,58,23,6,76,12,17,61
4582902817,1553767243,1,33,88,15,3,66,53,111,70,...,10,78,107,119,69,43,38,11,96,94
4582913393,1553767302,0,15,111,10,54,80,88,120,33,...,69,67,53,30,106,8,76,70,65,93
4583057643,1553770188,0,33,15,70,78,27,54,111,20,...,76,10,30,51,8,62,11,39,94,73

In [3]:
time_steps = 22
batch_size = 16
num_features = 1

lstm_size = 16